body{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

a{
    text-decoration: none;
}

.container-header{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
    margin-top: 50px;
}

hr{
    margin: 0;
    height: 2px;
    background-color: black;
}

.logo{
    height: 100px;
    width: 100px;
    padding-left: 5%;
}

.PhotoProfile{
    /*
    margin-left: 80px;
    */
    height: 350px;
    width: 350px;
}

.name_profile{
    padding-left: calc(100% / 3);
}
.info{
    font-size: 18px
}

.info-aboutMe{
    float: left;
    width: 45%;
}

.info-wishes{
    float: right;
    width: 45%;
}

.table{
    height: 100px;
    width: 100px;
}

.tasks{
    height: 100px;
    width: auto;
}

.Pictures{
    padding-top: 100px;
    margin-top: 200px;
}

.container-boxes-cats{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-cat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-animals{
    width: 200px;
    height: 200px;
    text-align: center;
}

.text-animals{
    text-align: center;
    font-size: 18px;
}

.container-boxes-dogs{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.box-dog{
    text-align: center;
}

.container-data{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.data{
    display: block;
}

.container-footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-footer{
    text-align: center;
}

.container-links{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.link{
    margin-left: 10px;
}

.button-register{
    background-color: gold;
    box-shadow: 4px 4px black;
    color: white;
    height: 80px;
    width: 80px;
}

.button-sql{
    background-color: red;
    box-shadow: 4px 4px black;
    color: white;
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 1200px){
    .PhotoProfile{
        text-align: center;
        margin-left: 0;
    }

    .info-aboutMe .info-wishes{
        width: 50%;
    }

    .name_profile{
        padding-left: 0;
        text-align: center;
    }

    .bloc_profile{
        padding-left: 0;
    }

    .text-animals{
        text-align: center;
    }
}

@media screen and (max-width: 860px){
    .box-cat .image-animals{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 650px) {
    .box-cat{
        flex-basis: 50%;
    }
}
